extends layout

block content
  h1 Change Password
  form
    .form-group
      label(for='email') Email address:
      input#email.form-control(type='email', placeholder='Email')
      label(for='email') Old password:
      input#oldPassword.form-control(type='text', placeholder='Old password')
      label(for='email') New password:
      input#newPassword.form-control(type='text', placeholder='New password')
    button.btn.btn-default(type='submit') Change Password

block scripts
  script(src="/js/changePassword.js")
