extends layout

block scripts
  link(rel='stylesheet', href='/css/index.css')

block content
  br
  br
  br
  h1 Multi-city Weather Tracker
  p Keep track of the weather in all of your favorite places

block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")
