extends layout
block scripts
  link(rel='stylesheet', href='/css/index.css')
block content
  br
  br
  br
  h1 Multi-city Weather Tracker
  p Keep track of the weather in all of your favorite places
  br
  br
  div#homepageCenter
    h2 
      a(href="/login") Log in 
    br
    h2 
      a(href="/register") Create Account
  br
  h4 Forgot your login credentials? 
    a(href='/resetPassword') Reset password here
  
block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")
