extends layout

block content
  h1 Reset Password
  form
    .form-group
      label(for='email') Enter e-mail address to receive instructions for resetting your password.
      input#email.form-control(type='email', placeholder='Email')
    button.btn.btn-default(type='submit') Send Reset Email

block scripts
  script(src="/js/reset.js")
